  
  p {
    float: right;
  }
  
  .row{
    height:100vh;
  }
  .syllable{
      background-color: cadetblue;
      border: solid 1px blue;  
  }
  .col{
    height:20vh;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: cadetblue;
  }