.col-sm{
  height:20vh;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: cadetblue;
}
.row{
  height:100vh;
}

















/* #container{
    width: 300px;
    display: block;
    margin: auto;
  }
  
  p {
    float: right;
  }
  
  #list{
    list-style: none;
  }
  
  #list li{
    margin: 10px;
    cursor: pointer;
  } */